@use "app/styles" as *;

.skeleton {
  border-radius: $radius-sm;
  background-color: var(--color-skeleton);
  animation: pulse 1.4s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
