.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 100%;
  aspect-ratio: 3 / 4;
}

.title {
  width: 80%;
  height: 14px;
}

.artist {
  width: 40%;
  height: 12px;
}
