@use "app/styles" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 12px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 16px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
